@font-face {
  font-family: 'FONTSPRING DEMO-Biennale';
  src: url('./assets/font/FONTSPRINGDEMO-BiennaleRegular.woff2') format('woff2'),
      url('./assets/font/FONTSPRINGDEMO-BiennaleRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


